<div style="margin-bottom: 10px;">
    <c-card>
        <c-card-header>Filter Webinar Data</c-card-header>
        <c-card-body>
            <form cForm cRow [formGroup]="searchForm" novalidate [gutter]="3">
                <c-col [md]="4" *ngIf="searchForm.controls['title'] as ctrl">
                    <input cFormControl formControlName="title" placeholder="Title" id="title" type="text"/>
                </c-col>
                <c-col [md]="4" *ngIf="searchForm.controls['meetingId'] as ctrl">
                    <input cFormControl formControlName="meetingId" placeholder="Meeting ID" id="meetingId" type="text"/>
                </c-col>
                <c-col [md]="4" *ngIf="searchForm.controls['category'] as ctrl">
                    <select cSelect formControlName="category" id="category">
                        <option [defaultSelected]="true" value="">Category</option>
                        <option *ngFor="let category of categories" [value]="category.secureId">{{ category.title }}</option>
                      </select>
                </c-col>
                <c-col [md]="4" *ngIf="searchForm.controls['open'] as ctrl">
                    <select cSelect formControlName="open" id="open">
                        <option [defaultSelected]="true" value="">Availability</option>
                        <option value="available">Available</option>
                        <option value="unavailable">Unavailable</option>
                      </select>
                </c-col>
            </form>
        </c-card-body>
        <c-card-footer style="display: flex; justify-content: space-between;">
            <button cButton (click)="openModal('create')" color="primary" variant="ghost">Add New</button>
            <div class="d-grid gap-2 d-md-flex">
                <button cButton (click)="reset('search');" color="secondary" variant="outline" [disabled]="!searchFormSubmitted || isLoading">Clear</button>
                <button cButton (click)="getList(); searchFormSubmitted = true" [disabled]="isLoading">Filter Data</button>
            </div>
        </c-card-footer>
    </c-card>
</div>
<div>
    <p-table
        [value]="webinars"
        [paginator]="true"
        [rows]="10"
        [loading]="isLoading"
        [showCurrentPageReport]="true"
        [tableStyle]="{ 'min-width': '50rem' }"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [rowsPerPageOptions]="[10, 25, 50]"
    >
        <ng-template pTemplate="header">
            <tr>
                <th>Title</th>
                <th>Rating</th>
                <th>Price</th>
                <th>Status</th>
                <th>Category</th>
                <th>Create Time</th>
                <th style="width:15%"></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-webinar>
            <tr>
                <td>{{ webinar.title }}</td>
                <td>{{ webinar.rating }}</td>
                <td>{{ webinar.price | currency:'IDR ':'symbol':'3.0' }}</td>
                <td>
                    <c-badge *ngIf="webinar.available" color="success">Active</c-badge>
                    <c-badge *ngIf="!webinar.available" color="secondary">Inactive</c-badge>
                </td>
                <td>{{ webinar.category }}</td>
                <td>{{ webinar.date | date }}</td>
                <td>
                    <c-button-group role="group">
                        <button cButton (click)="openModal('update', webinar)"
                            cTooltip="Update" cTooltipTrigger="hover"
                            color="primary" variant="outline">
                            <svg [cIcon]="icons.cilPencil"
                                title="Create"></svg>
                        </button>
                        <button cButton (click)="openModal('detail', webinar)" 
                            cTooltip="Detail" cTooltipTrigger="hover"
                            color="info" variant="outline">
                            <svg [cIcon]="icons.cilCursor"
                                title="Detail"></svg>
                        </button>
                        <button cButton (click)="openModal('delete', webinar)"
                            cTooltip="Delete" cTooltipTrigger="hover"
                            color="danger" variant="outline">
                            <svg [cIcon]="icons.cilTrash"
                                title="Delete"></svg>
                        </button>
                    </c-button-group>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>

<c-modal #formModal
    [scrollable]="true"
    backdrop="static"
    alignment="center"
    id="formModal">
    <c-modal-header>
        <h5 cModalTitle>{{ modal.title }}</h5>
        <button [cModalToggle]="formModal.id" cButtonClose [disabled]="isLoading"></button>
    </c-modal-header>
    <c-modal-body>
        <form cForm [formGroup]="webinarForm" novalidate class="needs-validation">
            <fieldset cRow [disabled]="modal.type === 'detail'" [gutter]="1">
                <c-col [cFormFloating]="true" [md]="12" *ngIf="webinarForm.controls['title'] as ctrl">
                    <input cFormControl formControlName="title" id="title" placeholder="title" type="text"
                        [autofocus]="true"
                        [valid]="
                            ctrl.touched && ctrl.valid
                                ? true
                                : (webinarFormSubmitted || ctrl.touched) && ctrl.invalid
                                ? false
                                : undefined
                        "/>
                    <label cLabel for="title">Title</label>
                    <c-form-feedback *ngIf="webinarFormSubmitted || ctrl.invalid" [valid]="!(webinarFormSubmitted || ctrl.invalid)">
                        <ng-container *ngIf="ctrl.errors as errors">
                            <div *ngIf="errors.required">Title is required</div>
                        </ng-container>
                    </c-form-feedback>
                </c-col>
                <c-col [cFormFloating]="true" [md]="12" *ngIf="webinarForm.controls['link'] as ctrl">
                    <input cFormControl formControlName="link" id="link" placeholder="Link" type="text"
                        [autofocus]="true"
                        [valid]="
                            ctrl.touched && ctrl.valid
                                ? true
                                : (webinarFormSubmitted || ctrl.touched) && ctrl.invalid
                                ? false
                                : undefined
                        "/>
                    <label cLabel for="link">Link</label>
                    <c-form-feedback *ngIf="webinarFormSubmitted || ctrl.invalid" [valid]="!(webinarFormSubmitted || ctrl.invalid)">
                        <ng-container *ngIf="ctrl.errors as errors">
                            <div *ngIf="errors.required">Title is required</div>
                        </ng-container>
                    </c-form-feedback>
                </c-col>
                <c-col [cFormFloating]="true" [md]="12" *ngIf="webinarForm.controls['meetingId'] as ctrl">
                    <input cFormControl formControlName="meetingId" id="meetingId" placeholder="Meeting ID" type="text"
                        [autofocus]="true"
                        [valid]="
                            ctrl.touched && ctrl.valid
                                ? true
                                : (webinarFormSubmitted || ctrl.touched) && ctrl.invalid
                                ? false
                                : undefined
                        "/>
                    <label cLabel for="meetingId">Meeting ID</label>
                    <c-form-feedback *ngIf="webinarFormSubmitted || ctrl.invalid" [valid]="!(webinarFormSubmitted || ctrl.invalid)">
                        <ng-container *ngIf="ctrl.errors as errors">
                            <div *ngIf="errors.required">Meeting ID is required</div>
                        </ng-container>
                    </c-form-feedback>
                </c-col>
                <c-col [md]="12" [cFormFloating]="true" *ngIf="webinarForm.controls['open'] as ctrl">
                    <select cSelect formControlName="open" id="open">
                        <option value="available">Available</option>
                        <option value="unavailable">Unavailable</option>
                    </select>
                    <label cLabel for="open">Availability</label>
                    <c-form-feedback *ngIf="webinarFormSubmitted || ctrl.invalid" [valid]="!(webinarFormSubmitted || ctrl.invalid)">
                        <ng-container *ngIf="ctrl.errors as errors">
                            <div *ngIf="errors.required">Availability is required</div>
                        </ng-container>
                    </c-form-feedback>
                </c-col>
                <c-col [cFormFloating]="true" [md]="12" *ngIf="webinarForm.controls['passcode'] as ctrl">
                    <input cFormControl formControlName="passcode" id="passcode" placeholder="Passcode" type="text"
                        [autofocus]="true"
                        [valid]="
                            ctrl.touched && ctrl.valid
                                ? true
                                : (webinarFormSubmitted || ctrl.touched) && ctrl.invalid
                                ? false
                                : undefined
                        "/>
                    <label cLabel for="passcode">Passcode</label>
                    <c-form-feedback *ngIf="webinarFormSubmitted || ctrl.invalid" [valid]="!(webinarFormSubmitted || ctrl.invalid)">
                        <ng-container *ngIf="ctrl.errors as errors">
                            <div *ngIf="errors.required">Passcode is required</div>
                        </ng-container>
                    </c-form-feedback>
                </c-col>
                <c-col [cFormFloating]="true" [md]="12" *ngIf="webinarForm.controls['price'] as ctrl">
                    <input cFormControl formControlName="price" id="price" placeholder="Price" type="number"
                        [autofocus]="true"
                        [valid]="
                            ctrl.touched && ctrl.valid
                                ? true
                                : (webinarFormSubmitted || ctrl.touched) && ctrl.invalid
                                ? false
                                : undefined
                        "/>
                    <label cLabel for="price">Price</label>
                    <c-form-feedback *ngIf="webinarFormSubmitted || ctrl.invalid" [valid]="!(webinarFormSubmitted || ctrl.invalid)">
                        <ng-container *ngIf="ctrl.errors as errors">
                            <div *ngIf="errors.required">Price is required</div>
                            <div *ngIf="errors.min">Price must be > 0</div>
                        </ng-container>
                    </c-form-feedback>
                </c-col>
                <c-col [md]="12" [cFormFloating]="true" *ngIf="webinarForm.controls['category'] as ctrl">
                    <select cSelect formControlName="category" id="category">
                        <option *ngFor="let category of categories" [value]="category.secureId">{{ category.title }}</option>
                    </select>
                    <label cLabel for="category">Category</label>
                    <c-form-feedback *ngIf="webinarFormSubmitted || ctrl.invalid" [valid]="!(webinarFormSubmitted || ctrl.invalid)">
                        <ng-container *ngIf="ctrl.errors as errors">
                            <div *ngIf="errors.required">Category is required</div>
                        </ng-container>
                    </c-form-feedback>
                </c-col>
            </fieldset>
        </form>
    </c-modal-body>
    <c-modal-footer>
        <button [cModalToggle]="formModal.id" (click)="reset('webinar')" cButton color="secondary" [disabled]="isLoading">
            {{ modal.type === 'detail' ? 'Close' : 'Cancel' }}
        </button>
        <button cButton color="success" *ngIf="modal.type !== 'detail'" (click)="submit()" [disabled]="isLoading">
            <c-spinner *ngIf="isLoading" aria-hidden="true" size="sm"></c-spinner>
            Save
        </button>
    </c-modal-footer>
</c-modal>

<c-modal #deleteModal
    backdrop="static"
    alignment="center"
    id="deleteModal">
    <c-modal-header>
        <h5 cModalTitle>{{ modal.title }}</h5>
        <button [cModalToggle]="deleteModal.id" cButtonClose [disabled]="isLoading"></button>
    </c-modal-header>
    <c-modal-body>
        Are you sure want to delete ?
    </c-modal-body>
    <c-modal-footer>
        <button [cModalToggle]="deleteModal.id" cButton color="secondary">
            Cancel
        </button>
        <button cButton color="danger" (click)="submit()" [disabled]="isLoading">
            <c-spinner *ngIf="isLoading" aria-hidden="true" size="sm"></c-spinner>
            Delete
        </button>
    </c-modal-footer>
</c-modal>