<p-toast></p-toast>
<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
  <c-container>
    <c-row class="justify-content-center">
      <c-col lg="7" md="9" xl="6">
        <c-card class="mx-4">
          <c-card-body class="p-4">
            <form cForm>
              <h1>Register</h1>
              <p class="text-medium-emphasis">Create your account</p>
              <c-input-group class="mb-3">
                <span cInputGroupText>
                  <svg cIcon name="cilUser"></svg>
                </span>
                <input
                    [(ngModel)]="firstName" 
                    name="firstName"
                    cFormControl
                    placeholder="First Name"
                    type="text"
                  />
              </c-input-group>
              <c-input-group class="mb-3">
                <span cInputGroupText>
                  <svg cIcon name="cilUser"></svg>
                </span>
                <input
                    [(ngModel)]="lastName" 
                    name="lastName"
                    cFormControl
                    placeholder="Last Name"
                    type="text"
                  />
              </c-input-group>
              <c-input-group class="mb-3">
                <span cInputGroupText>@</span>
                <input
                    [(ngModel)]="email" 
                    name="email"
                    cFormControl
                    placeholder="Email"
                    type="email"
                  />
              </c-input-group>
              <c-input-group class="mb-3">
                <span cInputGroupText>
                  <svg cIcon name="cilLockLocked"></svg>
                </span>
                <input
                  [(ngModel)]="password" 
                  name="password"
                  cFormControl
                  placeholder="Password"
                  type="password"
                />
              </c-input-group>
              <c-input-group class="mb-4">
                <span cInputGroupText>
                  <svg cIcon name="cilLockLocked"></svg>
                </span>
                <input
                  [(ngModel)]="rePassword" 
                  name="rePassword"
                  cFormControl
                  placeholder="Repeat Password"
                  type="password"
                />
              </c-input-group>
              <div class="d-grid">
                <button cButton class="px-4" color="success" [disabled]="!isValid() || isLoading" (click)="doRegister()" >
                  <c-spinner *ngIf="isLoading" aria-hidden="true" size="sm"></c-spinner>
                  Create Account
                </button>
              </div>
            </form>
          </c-card-body>
        </c-card>
      </c-col>
    </c-row>
  </c-container>
</div>
