<div style="margin-bottom: 10px;">
    <c-card>
        <c-card-header style="cursor: pointer;">Filter Exam Data</c-card-header>
        <c-card-body cCollapse [visible]="true">
            <form cForm cRow [formGroup]="searchForm" novalidate [gutter]="3">
                <c-col [md]="4" *ngIf="searchForm.controls['title'] as ctrl">
                    <input cFormControl formControlName="title" placeholder="Title" id="title" type="text"/>
                </c-col>
                <c-col [md]="4" *ngIf="searchForm.controls['category'] as ctrl">
                    <select cSelect formControlName="category" id="category">
                        <option [defaultSelected]="true" value="">Category</option>
                        <option *ngFor="let category of categories" [value]="category.secureId">{{ category.title }}</option>
                      </select>
                </c-col>
                <c-col [md]="4" *ngIf="searchForm.controls['open'] as ctrl">
                    <select cSelect formControlName="open" id="open">
                        <option [defaultSelected]="true" value="">Availability</option>
                        <option value="available">Available</option>
                        <option value="unavailable">Unavailable</option>
                    </select>
                </c-col>
            </form>

            <div style="display: flex; justify-content: space-between;" class="mt-2">
                <a href=""></a>
                <div class="d-grid gap-2 d-md-flex">
                    <button cButton (click)="reset('search');" color="secondary" variant="outline" [disabled]="isLoading">Clear</button>
                    <button cButton (click)="getList(); searchFormSubmitted = true" [disabled]="isLoading">Filter Data</button>
                </div>
            </div>
        </c-card-body>
    </c-card>
</div>
<div cRow>
    <!-- <c-col [lg]="12"> 
        <c-alert color="success">
            <h4 cAlertHeading>Well done!</h4>
            <p>Your hard work has paid off, and you've successfully completed all the exams you registered for. This is a testament to your dedication and commitment to your education. Keep up the excellent work!</p>
        </c-alert>
    </c-col> -->
    <c-col *ngFor="let exam of exams" [lg]="4">
        <c-card [cBorder]="{top: {color: exam.statusColor, width: 3}}"  class="mb-3 rounded-4">
            <c-card-header>
                <c-badge [color]="exam.statusColor" class="position-relative mx-2">
                    {{ exam.status }}
                </c-badge>
                <c-badge [color]="exam.registered ? 'success' : 'dark'" class="position-relative">
                    {{ exam.registered ? 'Registered' : 'Not Registered' }}
                </c-badge>
            </c-card-header>
            <c-card-body>
                <h5 cCardTitle>{{exam.title}}</h5>
                <div cCardText>
                    <svg [cIcon]="icons.cilCalendar" title="Calendar"></svg> 
                    <c-badge color="light"  class="position-relative mx-2">
                        <label style="color: slategrey;">{{ exam.startTime | date : 'mediumDate' }} - {{ exam.endTime | date : 'mediumDate' }}</label>
                    </c-badge>
                </div>
                <div cCardText>
                    <svg [cIcon]="icons.cilAvTimer" title="Slot"></svg> 
                    <c-badge color="light" class="position-relative mx-2">
                        <label style="color: slategrey;">{{ exam.duration }} minutes</label>
                    </c-badge>
                </div>
                <div cCardText>
                    <svg [cIcon]="icons.cilUser" title="Slot"></svg> 
                    <c-badge [color]="exam.availableSlot > 0 ? 'info' : 'light'" class="position-relative mx-2">
                        <label *ngIf="exam.availableSlot == 0" style="color: slategrey;">{{ exam.currentParticipant }}/{{ exam.maxParticipant }} | Full booked.</label>
                        <label *ngIf="exam.availableSlot > 0">{{ exam.currentParticipant }}/{{ exam.maxParticipant }} | {{ exam.availableSlot }} slot remaining</label>
                    </c-badge>
                </div>
                <div cCardText>
                    <svg [cIcon]="icons.cilTag" title="Status"></svg> 
                    <c-badge color="light" class="position-relative mx-2">
                        <label style="color: slategrey;">{{ exam.category }}</label>
                    </c-badge>
                </div>
                <div style="display: flex; justify-content: end;">
                    <button class="mt-2 btn-sm" *ngIf="exam.registered && exam.status == 'On Going'" color="success" cButton variant="outline">Start Exam</button>
                    <button class="mt-2" *ngIf="exam.resume && exam.status == 'On Going'" color="success" cButton variant="outline">Resume Exam</button>
                    <button class="mt-2" *ngIf="exam.registered && exam.status == 'Upcoming'" color="light" cButton variant="outline">Cancel Registration</button>
                    <button class="mt-2" *ngIf="!exam.registered && exam.availableSlot > 0 && (exam.status == 'On Going' || exam.status == 'Upcoming')" color="info" cButton variant="outline"
                        (click)="openModal('register', exam)">
                        Register
                    </button>
                </div>
            </c-card-body>
        </c-card>
    </c-col>
</div>

<c-modal #formModal
    [scrollable]="true"
    backdrop="static"
    alignment="center"
    id="formModal">
    <c-modal-header>
        <h5 cModalTitle>{{ modal.title }}</h5>
        <button [cModalToggle]="formModal.id" (click)="reset('exam')" cButtonClose [disabled]="isLoading"></button>
    </c-modal-header>
    <c-modal-body>
        <div cRow>
            <c-col [md]="12">
                <div cCardText>
                    <svg [cIcon]="icons.cilDoubleQuoteSansLeft" title="Title"></svg> 
                    <c-badge color="light"  class="position-relative mx-2">
                        <label style="color: slategrey;">{{ currentExamTnc.title }}</label>
                    </c-badge>
                </div>
                <div cCardText>
                    <svg [cIcon]="icons.cilCalendar" title="Calendar"></svg> 
                    <c-badge color="light"  class="position-relative mx-2">
                        <label style="color: slategrey;">{{ currentExamTnc.startTime | date : 'mediumDate' }} - {{ currentExamTnc.endTime | date : 'mediumDate' }}</label>
                    </c-badge>
                </div>
                <div cCardText>
                    <svg [cIcon]="icons.cilAvTimer" title="Slot"></svg> 
                    <c-badge color="light" class="position-relative mx-2">
                        <label style="color: slategrey;">{{ currentExamTnc.duration }} minutes</label>
                    </c-badge>
                </div>
                <div cCardText>
                    <svg [cIcon]="icons.cilTag" title="Category"></svg> 
                    <c-badge color="light" class="position-relative mx-2">
                        <label style="color: slategrey;">{{ currentExamTnc.category }}</label>
                    </c-badge>
                </div>
                <div cCardText>
                    <svg [cIcon]="icons.cilBell" title="Status"></svg> 
                    <c-badge color="danger" class="position-relative mx-2">
                        <label>{{ currentExamTnc.timeLeft }}</label>
                    </c-badge>
                </div>
            </c-col>
        </div>
    </c-modal-body>
    <c-modal-footer>
        <button [cModalToggle]="formModal.id" (click)="reset('exam')" cButton color="secondary">
            {{ modal.type === 'detail' ? 'Close' : 'Cancel' }}
        </button>
        <button cButton color="success" *ngIf="modal.type !== 'detail'" (click)="submit()" [disabled]="isLoading">
            <c-spinner *ngIf="isLoading" aria-hidden="true" size="sm"></c-spinner>
            Register
        </button>
    </c-modal-footer>
</c-modal>

<c-modal #deleteModal
    backdrop="static"
    alignment="center"
    id="deleteModal">
    <c-modal-header>
        <h5 cModalTitle>{{ modal.title }}</h5>
        <button [cModalToggle]="deleteModal.id" cButtonClose [disabled]="isLoading"></button>
    </c-modal-header>
    <c-modal-body>
        Are you sure want to delete ?
    </c-modal-body>
    <c-modal-footer>
        <button [cModalToggle]="deleteModal.id" cButton color="secondary">
            Cancel
        </button>
        <button cButton color="danger" (click)="submit()" [disabled]="isLoading">
            <c-spinner *ngIf="isLoading" aria-hidden="true" size="sm"></c-spinner>
            Delete
        </button>
    </c-modal-footer>
</c-modal>